$base-font-color: #000000;
$base-font-color1: #4436A5;
$base-font-family: 'Yeseva One';
$base-font-family1: 'Inter', sans-serif;
$base-font-size: 1rem;
$base-font-weight: 400;
$base-line-height: 1.5;
$base-white-color: #FFFFFF;
$website-brand-color: #A69DFF;
$form-input-color: #ECEAFF;
$form-background-color: $form-input-color;
$resources-background-color: #F7F7F7;
$footer-background-color:$base-font-color1;
$process-color:#C2BCFF;

//HEADER VARIABLES
$header-height: 130px;
// BUTTONS VARIABLES
$primary-color: #FF2D20;
$button-font-size: 22px;
$button-height: 48px;
//FIELD VARIABLES
$field-height: 50px;






