.get_trail_section {
  padding: 100px 0;
  background: $form-input-color;
  .get_trail_section_wrapper {
    margin: 0 auto;
    max-width: 1360px;

    .get_started_left {
      @extend .shadow;
      border-radius: 20px 0 0 20px;
      background-color: $website-brand-color;
      padding: 55px 80px 0 80px;
      h2 {
        max-width: 449px;
      }
      h4 {
        color: white;
        font-family: $base-font-family1;
        margin-bottom: 40px;
      }
      ul {
        li {
          margin: 24px 0;
          position: relative;
          padding-left: 45px;
          font-family: $base-font-family1;
          font-size: 24px;
          &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 24px;
            background: $website-brand-color;
            z-index: 1;
          }
          &::after {
            content: "";
            position: absolute;
            left: 2%;
            top: 23px;
            height: 100%;
            border: 2px dashed #ffffff;
          }
          &:nth-child(1) {
            &::before {
              background: url(".././images/one.svg");
            }
          }
          &:nth-child(2) {
            &::before {
              background: url(".././images/two.svg");
            }
          }
          &:nth-child(3) {
            &::before {
              background: url(".././images/three.svg");
            }
          }
          &:nth-child(4) {
            &::before {
              background: url(".././images/four.svg");
            }
            &::after {
              border: none;
            }
          }
        }
      }
    }
    .get_started_right {
      display: flex;
      align-items: center;
      @extend .shadow;
      border-radius: 0 20px 20px 0;
      padding: 50px 95px;
      background: #ffffff;

      h4 {
        margin-bottom: 50px;
        font-family: $base-font-family1;
        color: black !important;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .get_trail_section_wrapper {
      .get_started_left {
        h2 {
          font-size: 32px;
        }
        h4 {
          font-size: 24px;
          margin-bottom: 55px;
        }
        .form-points {
          ul {
            li {
              font-size: 20px;
            }
          }
        }
      }
      .get_started_right {
        padding: 45px;
      }
    }
   
  }
  @media screen and (max-width: 1024px) {
    .get_trail_section_wrapper {
      .get_started_left {
        h2 {
          font-size: 27px;
        }
        h4 {
          font-size: 22px;
          margin-bottom: 35px;
        }
        .form-points {
          ul {
            li {
              font-size: 18px;
              &::after {
                left: 3%;
              }
            }
          }
        }
      }

    }
   
  }
  @media (max-width: 991.98px) {
    padding: 50px 0px 50px 0;
    .flex-6 {
      flex: 0 0 100%;
      width: 100%;
    }
    .get_started_form {
      margin: 0 auto;
    }
    .get_trail_section_wrapper {
      align-items: center;
      .get_started_left {
        padding: 50px;
        border-radius: 20px 20px 0 0;
        h2,
        h4 {
          max-width: 100%;
          text-align: center;
        }
        h4 {
          margin-bottom: 24px;
        }
        .form-points {
          display: flex;
          justify-content: center;
          ul {
            li {
              &::after {
                left: 2%;
              }
            }
          }
        }
      }
      .get_started_right {
        border-radius: 0 0 20px 20px;

        h4 {
          margin-bottom: 24px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .get_trail_section_wrapper {
      .get_started_left {
        padding: 24px;
      }
      .get_started_right {
        padding: 24px;
      }

    }
  }
  @media (max-width: 567px) {
    .get_trail_section_wrapper {
      .get_started_left {
        h2 {
          font-size: 23px;
        }
        h4 {
          font-size: 20px;
          margin-bottom: 35px;
        }
        .form-points {
          ul {
            li {
              &::after {
                left: 10px !important;
              }
            }
          }
        }
      }
      .get_started_right {
        h4 {
          font-size: 5vw;
        }
      }

    }
   
  }
}


#vecrm-form label {
  display: inline-block;
}

#vecrm-form [hidden] {
  display: none;
}

#vecrm-form form input,
#vecrm-form form select,
#vecrm-form form textarea {
  padding: 15px;
  border-radius: 4px;
  transition: .15s all ease-in-out;
  height: 50px !important;
  text-indent: initial;
  filter: none !important;
  border: none;
  font-family: 'Exo', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 17, 30, 0.5);
}

#vecrm-form form label {
  color: #0E111E;
  opacity: .8;
  letter-spacing: .3px;
  font-size: 16px;
  font-weight: 500;
}

#vecrm-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:  #ECEAFF url('.././images/select_arrow.png') no-repeat right 20px center !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#vecrm-form span[title="Country"] input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(https://www.virtualemployee.com/get-started/img/downarrow.png) no-repeat right 20px center;
}

#vecrm-form form textarea {
  height: auto !important;
  
}

#vecrm-form form .lp-form-button {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: none;
  font-size: 16px;
  width: 100%;
  max-width: 425px;
  height: auto;
  background: #FF2D20 !important;
  border-radius: 4px;
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  border: none;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0, 30px, 60px, rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

#vecrm-form form .lp-form-button:hover {
  background: #FF2D20 !important;
  transform: scale(1.03);
}

form {
  font-family: 'Exo', sans-serif !important;
}

form .lp-form-fieldInput {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

form div.lp-form-field {
  word-wrap: break-word;
  word-break: break-word;
}

form div.lp-radioButtonsContainer {
  width: 50%;
}

form span.lp-radioButton input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-top: 3px;
  border-radius: 50%;
}

form div.marketing-customfield input[type="checkbox"],
form div.marketing-field input[type="checkbox"],
form div.marketing-subscription-list input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 3px;
  color: rgba(14, 17, 30, 0.5);
  font-family: 'Exo' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

}

form span.lp-checkboxListItem,
form span.lp-radioButton {
  /* This rule is needed to style all radio button fields. For product constraints each option is defined as input and label wrapped into a span*/
  display: block;
  margin: 2px;
}

form *[data-layout="true"] {
  margin: 0 auto;
  max-width:
      /* @layout-max-width */
      600px
      /* @layout-max-width */
  ;
}

form input {
  border-radius: 4px;
  background: #ECEAFF;
  height: 48px;
  margin-top: 8px;
  text-indent: 10px;
  width: 100%;
}

form select {
  border-radius: 4px;
  background: #ECEAFF !important;
  height: 48px;
  margin-top: 8px;
  text-indent: 10px;
  width: 100%;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(14, 17, 30, 0.5) !important;
  font-family: 'Exo', sans-serif !important;
}

form textarea {
  background: #ECEAFF;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
  height: 96px;
  overflow: auto;
  width: 100%;
}

form label {
  margin: 0px;
  font-size: 14px;
}

form button[type="submit"],
form div[data-editorblocktype="SubmitButtonBlock"] button {
  font-size: 22px;
  border-radius: 4px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  color: white;
  background-color: #FF2D20;
  width: 100%;
  padding: 0;
}

form button[type="reset"],
form div[data-editorblocktype="ResetButtonBlock"] button {
  font-size: 18px;
  border-radius: 3px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  color: #323130;
  border: 1px solid #8A8886;
  width: 100%;
  padding: 0;
}

form button[type="submit"],
form button[type="reset"],
form div[data-editorblocktype="SubmitButtonBlock"],
form div[data-editorblocktype="ResetButtonBlock"] {
  margin: 0 auto;
}

form .columnContainer h2 {
  font-size: 16px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(14, 17, 30, 0.5) !important;
  font-family: 'Exo', sans-serif !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder ::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgba(14, 17, 30, 0.5) !important;
  font-family: 'Exo', sans-serif !important;

}

form .columnContainer h1 {
  font-size: 26px;
}

@media only screen and (max-width: 768px) {
  form .columnContainer {
      width: 100% !important;
  }
  #vecrm-form form .lp-form-button {
    font-size: 16px !important;
  }
}

.selectboxit-options .selectboxit-option .selectboxit-option-anchor {
  white-space: normal;
  min-height: 30px;
  height: auto;
}