* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 16px;
    
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
    font-weight: $base-font-weight;
}
section {
    padding: 100px 0;
}
a {
    text-decoration: none;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1 {
    font-weight: 400;
    font-size: 62px;
    margin-bottom: 20px;
}
h3 {
    font-weight: 400;
    font-size: 32px;
    font-family: $base-font-family1;
}

h2 {
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 18px;
}

h4 {
    font-weight: 400;
    font-size: 28px;
    color: $base-font-color1;
    margin-bottom: 75px;
}
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.inner_container {
    width: 90%;
    margin: 0 auto;
}

.overflow_hidden {
    overflow: hidden;
}

.transition {
    transition: all linear 0.3s;
}

.text_center,
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.d-none {
    display: none;
}
.shadow {
    @include box-shadow(0,
    30px,
    60px,
    rgba(0, 0, 0, 0.08));
}

.position-relative {
    position: relative;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width:1600px) {
    .container {
        max-width: 1450px;
    }
}

@media screen and (max-width: 1440px) {
    h1 {
        font-size: 3.88vw;
    }
   
}
@media screen and (max-width:991.98px) {
    h2 {
        font-size: 4vw;
    }
    h4 {
        font-size: 3vw;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }
    section {
        padding: 55px 0;
    }
    
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }
    h2 {
        font-size: 5vw;
    }
    h4 {
        font-size: 3.33vw;
        
    }
}

