.lifecycle {
  padding: 100px 0 0 0;
  .space-holder {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
  }
  .sticky {
    position: sticky;
    top: 140px;
    height: 500px;
    width: 100%;
  }
  .horizontal {
    position: absolute;
    will-change: transform;
    top: 0px;
    margin-top: 100px;
    touch-action: pan-y;
    z-index: -1;
  }
  .lifeCycle_process {
    display: flex;
    align-items: center;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 40px;
      width: 530px;
      &::after {
        content: "";
        position: absolute;
        background: url(.././images/process.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 229px;
        height: 354px;
        right: 0;
        top: 0;
      }

      h5 {
        font-weight: 700;
        font-size: 230px;
        color: $process-color;
        font-family: $base-font-family1;
      }
      .content {
        margin-left: 25px;
        position: relative;

        h4 {
          margin-bottom: 20px !important;
          color: #000;
          font-family: $base-font-family1;
          font-weight: 700;
        }
        ul {
          li {
            font-family: $base-font-family1;
            font-weight: 400;
            font-size: 28px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1600px) {
    .container {
      max-width: 1750px;
    }
  }
  @media screen and (max-width: 1750px) {
    .container {
      max-width: 1750px;
    }

    .lifeCycle_process {
      .item {
        h5 {
          font-size: 180px;
        }
        .content {
          ul {
            li {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1450px) {
    .container {
      max-width: 1750px;
    }
    .horizontal {
      margin-top: 100px;
    }
    .lifeCycle_process {
      .item {
        max-width: 100%;
        padding: 50px 0 30px 0;

        img {
          max-width: 12%;
        }
        .content {
          h4 {
            margin-bottom: 14px !important;
          }
          ul {
            li {
              font-size: 18px;
            }
          }
        }
      }
    }
    .item {
      h5 {
        font-size: 130px;
      }
      .content {
        ul {
          li {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 993px) {
    .space-holder {
      height: auto !important;
      top: 0;
    }
    .sticky {
      height: auto;
    }

    .horizontal {
      position: relative;
      margin-top: 50px;
    }

    .lifeCycle_process {
      display: block;
      .item {
        max-width: 100%;
        padding: 30px 0;
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 100px;
    .lifeCycle_process {
      display: block;
      .item {
        max-width: 100%;
        padding: 50px 0 30px 0;
        &::after {
          content: "";
          width: 138px;
        
        }
        h5{
          font-size: 100px;
        }

        img {
          max-width: 12%;
        }
        .content {
          h4 {
            margin-bottom: 14px !important;
          }
          ul {
            li {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
